{% extends "../base.html" %}
{% load static %}
{% block video %}
    <div class="filter_block d-none d-xl-flex" id="filter_block">
        <p class="font-weight_medium">Категория</p>
        <form action="">
            <div>
                <label for="">Лампочка</label>
                <input type="checkbox" value="Лампочки">
            </div>
            <div>
                <label for="">Плафоны</label>
                <input type="checkbox" value="Плафоны">
            </div>
            <div>
                <label for="">Светильники</label>
                <input type="checkbox" value="Светильники">
            </div>
            <input type="submit" value="Применить">
        </form>
    </div>
{% endblock %}
{% block body %}
    <div data-aos="fade-up" class="row catalog_block pdng-width">
        <div class="col-12 col-xl-6 pdng-width catalog_block__h3">
            <h3 class="font-weight_medium">Католог</h3>
            <p class="font-size_regular mobile_font-size_light font-weight_regular">
                Европейское качество - это строгое производство, по самым высоким требованиям соблюдениям техники выполнения работ.
            </p>
        </div>
        <div class="col-xl-6 d-none d-xl-flex catalog__button">
            <button onclick="filter_open()" class="font-size_small font-weight_bold">
                Фильтр
                <img id="arrow_icon" src="{% static 'img/icon/arrow.svg' %}" alt="">
            </button>
        </div>
        <div class="col-12 d-flex d-xl-none mobile_filter" id="filter_block">
            <p class="font-weight_medium mobile_font-size_big">Фильтр</p>
            <form action="">
                <div>
                    <label for="">Лампочка</label>
                    <input type="checkbox" value="Лампочки">
                </div>
                <div>
                    <label for="">Плафоны</label>
                    <input type="checkbox" value="Плафоны">
                </div>
                <div>
                    <label for="">Светильники</label>
                    <input type="checkbox" value="Светильники">
                </div>
                <input type="submit" value="Применить">
            </form>
        </div>
        <div class="col-12 col-xl-12 catalog_block__block">
            {% for product in products %}
                <div class="product">
                    <div class="product_img">
                        <img class="img_reg" src="{{ product.image.url }}" alt="">
                    </div>
                    <p class="product_name mobile_font-size_regular font-weight_medium">{{ product.name }}</p>
                    <div class="product__art_block font-weight_light font-size_tiny mobile_font-size_light">
                        <p>Артикул:</p>
                        <p class="product_art">{{ product.vendor_code }}</p>
                    </div>
                    <div>
                        <p class="mobile_font-size_regular product_description">{{ product.description | truncatewords:5 }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row contact_block pdng-width">
        <div data-aos="fade-right" class="col-12 col-xl-7 contact_block__form">
            <h2 class="mobile_font-size_big">Оставить заявку</h2>
            <p class="mobile_font-size_regular font-size_specific font-weight_regular">
                Понравились товары или появились вопросы на счёт товаров и не только? Оставьте заявку на сайте и менеджер перезвонит вам и обсудит с вами возникнувщие вопросы.
            </p>
            <form action="" method="POST">
                {% csrf_token %}
                <input type="hidden" name="vendor_code" value="" />
                <input type="hidden" name="code" value="" />
                <input type="hidden" name="product_name" value="" />
                <input type="email" name="email" placeholder="Почта">
                <input type="text" name="name" placeholder="Ваше имя" required>
                <input type="tel" name="phone" placeholder="Номер телефона" required>
                <input class="font-weight_regular font-size_specific mobile_font-size_light"
                       type="submit"
                       value="Отправить">
            </form>
        </div>
        <div data-aos="fade-left"
             class="col-xl-5 contact_block__img d-none d-xl-flex">
            <img src="{% static 'img/lamp_bronze.png' %}" alt="">
        </div>
    </div>
{% endblock %}
