{% extends '../base.html' %}
{% load static %}
{% block title %}Novella Electric | Контакты{% endblock %}
{% block body %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-GTRDK3CQWP"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-GTRDK3CQWP');
</script>






    <div class="row contact_page_block">
        <div data-aos="fade-right"
             class="col-6 col-xl-6 contact_page_block__contact mobile_font-size_light">
            <h3 class="mobile_font-size_big font-size_medium d-none d-xl-flex">Номера телефонов</h3>
            <h3 class="mobile_font-size_big font-size_medium d-flex d-xl-none">Номера</h3>
            <a class="mobile_font-size_light" href="tel:+77052060860">+7 705 206 08 60</a>
            <h3 class="font-size_medium margin-top d-none d-xl-flex">Почта</h3>
            <a class="d-none d-xl-flex" href="mailto:example@novella-electric.kz">mail@novella-electric.kz</a>

        </div>
        <div data-aos="fade-left" class="col-6 col-xl-6 contact_page_block__geo">
            <div class="d-flex d-xl-none">
                <h3 class="font-size_medium mobile_font-size_big margin-top">Почта</h3>
                <a class="mobile_font-size_light"
                   href="mailto:example@novella-electric.kz">example@novella-electric.kz</a>
                <a class="mobile_font-size_light"
                   href="mailto:example@novella-electric.kz">example@novella-electric.kz</a>
                <a class="mobile_font-size_light"
                   href="mailto:example@novella-electric.kz">example@novella-electric.kz</a>
            </div>
            <h3 class="d-none d-xl-flex font-size_medium">Адреса</h3>
            <a class="d-none d-xl-flex" href="https://goo.gl/maps/gzaXsWpbGGgp7tDL9">г. Алматы Бакорда строй сити 1-й этаж,  магазин 139 </a>
                <br>
            <a class="d-none d-xl-flex" href="https://goo.gl/maps/TxbPR74bPfa4oKui8">г. Алматы Северное кольцо 7, Т/ц Байсат, ряд 15, магазин 15</a>
        </div>
    </div>
    <div class="row map_block">
        <div data-aos="fade-down" class="col-12 col-xl-12">
            <p class="font-weight_medium mobile_font-size_big font-size_header">Адреса</p>
        </div>
        <div class="col-12 col-xl-12 map_block__inner">
            <div class="map_block__google">
                <iframe data-aos="fade-right"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d610.8062238673697!2d76.85233555761019!3d43.26189083436732!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38836b8aa35909ff%3A0x56de01aa983904!2z0JHQsNC60L7RgNC00LAg0KHRgtGA0L7QuSDQodC40YLQuA!5e0!3m2!1sru!2skz!4v1675788901719!5m2!1sru!2skz"
                        width="600"
                        height="450"
                        style="border:0"
                        allowfullscreen=""
                        loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                <div data-aos="fade-left" class="map_block__adress_list">
                    <li>
                        <a class="font-size_specific mobile_font-size_semi_regular font-weight_medium"
                           href="https://goo.gl/maps/phCLkgbMNvENTPTn9">г. Алматы,
                            <br>
                        ТД Бакорда Строй Сити</a>
                    </li>
                    <a class="open_map" href="https://goo.gl/maps/phCLkgbMNvENTPTn9">Открыть карту</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row contact_block">
        <div data-aos="fade-right" class="col-12 col-xl-7 contact_block__form">
            <h2 class="mobile_font-size_big">Оставить заявку</h2>
            <p class="mobile_font-size_regular font-size_specific font-weight_regular">
                Понравились товары или появились вопросы на счёт товаров и не только? Оставьте заявку на сайте и менеджер перезвонит вам и обсудит с вами возникнувщие вопросы.
            </p>
            <form action="" method="POST">
                {% csrf_token %}
                <input type="hidden" name="vendor_code" value="" />
                <input type="hidden" name="code" value="" />
                <input type="hidden" name="product_name" value="" />
                <input type="email" name="email" placeholder="Почта">
                <input type="text" name="name" placeholder="Ваше имя" required>
                <input type="tel" name="phone" placeholder="Номер телефона" required>
                <input class="font-weight_regular font-size_specific mobile_font-size_light"
                       type="submit"
                       value="Отправить">
            </form>
        </div>
        <div data-aos="fade-left"
             class="col-xl-5 contact_block__img d-none d-xl-flex">
            <img src="{% static '/img/lamp_bronze.png' %}" alt="">
        </div>
    </div>
{% endblock %}
