@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap');

body{
    font-family: 'Jost', sans-serif;
    font-size: calc(25vw / 19.2);
    --white-color:#FFF;
    --black-color:#000;
    --main-color:#FF9E18;
    --grey-color:#EEEEEE;
    background-color: var(--grey-color);
    overflow-x: hidden;
}

p{
    margin: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--white-color);
}

h1{
    font-size: calc(70vw / 19.2);
}

h2{
    font-size: calc(45vw / 19.2);
}

h3{
    font-size: calc(35vw / 19.2);
}

h4{
    font-size: calc(30vw / 19.2);
}

/*
20 tiny
24 small
25 regular
30 specific h4
33 semi-header
35 header h3
40 medium
45 semi-big h2
50 big
62 huge
70 giant h1
*/

.font-size_tiny{font-size: calc(20vw / 19.2);}
.font-size_small{font-size: calc(24vw / 19.2);}
.font-size_regular{font-size: calc(25vw / 19.2);}
.font-size_specific{font-size: calc(30vw / 19.2);}
.font-size_semi-header{font-size: calc(33vw / 19.2);}
.font-size_header{font-size: calc(35vw / 19.2);}
.font-size_medium{font-size: calc(40vw / 19.2);}
.font-size_semi-big{font-size: calc(45vw / 19.2);}
.font-size_big{font-size: calc(50vw / 19.2);}
.font-size_huge{font-size: calc(62vw / 19.2);}
.font-size_giant{font-size: calc(70vw / 19.2);}

.font-weight_light{font-weight: 300;}
.font-weight_regular{font-weight: 400;}
.font-weight_medium{font-weight: 500;}
.font-weight_semibold{font-weight: 600;}
.font-weight_bold{font-weight: 700;}

.img_reg {
    width: 10.15vw;
    height: 10.15vw;
    border-radius: 7.21vw 7.21vw 0px 0px;
}

.link_yellow{
    color: var(--main-color);
}

.black-color{
    color: var(--black-color);
}

.pdng-width{
    padding: 0 2.6vw;
}

#modal_order__status{
    display: none;
}

#modal_order__status.active{
    display: flex;
    margin: 0 0 2vw 0;
}

.modal_order{
    z-index: 3;
    position: fixed;
    width: 100%;
    height: 100vh;
    display: none;
    opacity: 0;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 0.3s;
}

.modal_order.active{
    transition: all ease-in-out 0.3s;
    display: flex;
    animation-name: filter_anim;
    animation-duration: 0.3s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
}

.modal_order__inner{
    width: 60vw;
    height: 30vw;
    background-color: var(--main-color);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 2vw;
}

.modal_order__inner button{
    background: transparent;
    border: 0;
    margin-left: auto;
}

.modal_order__inner button img{
    width: 25px;
    height: 25px;
}

.modal_order__inner h4{
    margin: 0 0 2vw 0;
}

.modal_order__inner form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal_order__inner form input{
    width: 42.96vw;
    height: 4.06vw;
    border-radius: 2.03vw;
    padding: 0 1.82vw;
    border: 0;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    background-color: #EEEEEE;
    margin: 0 0 0.93vw 0;
}

.modal_order__inner form input[type="submit"]{
    width: 50%;
    transition: all ease-in-out 0.3s;
}

.modal_order__inner form input[type="submit"]:hover{
    transition-delay: 0.1s;
    transition-duration: 0.3s;
    border: 1px solid var(--white-color);
    background: transparent;
    color: var(--white-color);
    box-shadow: 0px 7px 8px rgb(0 0 0 / 25%);
}



.main_screen.active{
    position: fixed;
}

.main_screen{
    background-image: url(../img/bg/bg-1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    width: 100%;
    height: 100%;
    /*height: 78.69vw;*/
}

.header{
    display: flex;
    height: 5.2vw;
    align-items: center;
}

.logo_block{
    display: flex;
    align-items: center;
}

.logo_block img{
    margin: 0 0 0 4.94vw;
    width: 11.51vw;
    height: 2.34vw;
}

.menu{
    display: flex;
    justify-content: center;
}

.menu a.margin-side{
    margin:0 3.75vw;
}

.menu li, a{
    list-style: none;
    text-decoration: none;
}

.order_block{
    display: flex;
    justify-content: flex-end;
    padding: 0 7.55vw 0 0;
}

.order_block button, .about_us__catalog button{
    padding: 0.41vw 3.22vw;
    border: 0;
    background-color: var(--main-color);
}

.about_us{
    height: 53.125vw;
}

.about_us__inner{
    display: flex;
    flex-direction: column;
}

.about_us__inner.pdng-width{
    padding: 0 0 0 9.06vw;
}

.about_us__catalog{
    color: var(--white-color);
    display: flex;
    height: 36.82vw;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.about_us__catalog p.link_yellow{
    border-bottom: 3px solid #fff;
    padding: 0 0 1.45vw 0;
}

.about_us__catalog button{
    margin: 3.17vw 0 0 0;
}

.about_us__lamp{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0 3.38vw 0 0;
    height: 100%;
}

.about_us__lamp .lamp_img{
    width: 40vw;
    height: 48.43vw;
    z-index: 1;
    position: absolute;
    background-image: url(../img/lamp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:    contain;
    /*animation: lamp_anim;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    -moz-animation: lamp_anim;
    -moz-animation-duration: 5s;
    -moz-animation-iteration-count: infinite;
    -o-animation: lamp_anim;
    -o-animation-duration: 5s;
    -o-animation-iteration-count: infinite;*/
}

/*
@keyframes lamp_anim {
    0%{
        background-image: url(../img/lamp_off.png);
    }

    50%{
        background-image: url(../img/lamp.png);
        
    }

    75%{
        background-image: url(../img/lamp.png);
        
    }

    100%{
        background-image: url(../img/lamp_off.png);
    }
}

@-moz-keyframes lamp_anim {
    0%{
        background-image: url(../img/lamp_off.png);
    }

    50%{
        background-image: url(../img/lamp.png);
        
    }

    75%{
        background-image: url(../img/lamp.png);
        
    }

    100%{
        background-image: url(../img/lamp_off.png);
    }
}*/

.about_us__info{
    display: flex;   
    margin: 23.69vw 17.55vw auto auto;
}

.about_us__info a.margin-side{
    margin: 0 2.34vw;
}

.about_us__dest {
    margin-top: auto;
    display: flex;
    flex-direction: column;
}

.about_us__catalog p.margin-top{
    margin: 1.71vw 0 0 0;
}

.about_us__dest p.margin-bottom{
    width: 21%;
    margin: 0 0 0.98vw 0;
    padding: 0 3.28vw 1.04vw 0;
    border-bottom: 1px solid var(--black-color);
}

.video_block{
    margin: 2.65vw 0 8.33vw;
}



.benefint__block.pdng-width{
    height: 51.30vw;
    padding: 0 11.875vw;
    background-image: url(../img/bg/bg-2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.benefint__block_lamp-light{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.benefint__block_lamp-light img{
    width: 29.79vw;
    height: 39.01vw;
}

.benefits__list{
    padding: 0 0 0 3.38vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.benefits__list div.margin-bottom{
    margin: 0 0 1.82vw 0;
}

.benefits__list h3{
    padding: 1.40vw 0 0 0;
    width: 80%;
    border-top: 1px solid;
}

.benefits__inner{
    margin: 2.6vw 0 0 0;
    display: flex;
    align-items: flex-start;
}

.benefits__inner .icon_plus{
    margin: 0 1.14vw 0 0;
}

.popular_order.pdng-width{
    padding: 0 9.01vw;
}

.popular_order.pdng-width{
    padding: 0 0 0 9.11vw;
    height: 52.34vw;
}

.popular_order button{
    background-color: var(--main-color);
    border: 0;
    padding: 0.46vw 4.16vw;
}

.popular_order__h3{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.popular_order__button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.popular_order__block{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*---------------------*/
.contact_block.pdng-width{
    padding: 0 9.01vw;
}

.contact_block.pdng-width{
    padding: 0 0 0 9.11vw;
    height: 52.34vw;
}

.contact_block button{
    background-color: var(--main-color);
    border: 0;
    padding: 0.46vw 4.16vw;
}

.contact_block__h3{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.contact_block__button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact_block__block{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*---------------------*/

.product{
    width: 14.42vw;
    background: #D8D8D8;
    border-radius: 7.21vw 7.21vw 0px 0px;
    height: 22.55vw;
    margin: 0 2.60vw 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1.45vw 1.14vw 0;
}

.product_img{
    border-radius: 7.21vw 7.21vw 0px 0px;
    width: 100%;
    height: 12.65vw;
    background-color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.product_name{
    margin: 0.57vw 0 0 0;
}

.product__art_block{
    display: flex;
}

.product__more{
    display: flex;
    justify-content: center;
}

.contact_block{
    background-color: var(--white-color);
    height: 48.59vw;
}

.contact_block__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact_block__form form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2.03vw 0 0 0;
}

.contact_block__form form input{
    width: 42.96vw;
    height: 4.06vw;
    border-radius: 2.03vw;
    padding: 0 1.82vw;
    border: 0;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    background-color: #EEEEEE;
    margin: 0 0 0.93vw 0;
}

.contact_block__form form input[type="submit"]{
    width: 16.14vw;
    color: var(--black-color);
    background: linear-gradient(90deg, #F9CC8F 11.46%, #FF9E18 100%);
}

.contact_block__form p{
    width: 34.89vw;
    text-align: justify;
}

.contact_block__form h2{
    padding: 0 2.55vw 2.03vw 2.55vw;
    margin: 0 0 1.56vw 0;
    border-bottom: 1px solid var(--black-color);
}

.contact_block__img{
    display: flex;
    justify-content: center;
}

.contact_block__img img{
    width: 30.20vw;
    height: 42.5vw;
}

.map_block{
    height: 50.98vw;
    padding: 4.47vw 6.35vw 7.91vw;
}

.map_block p{
    margin: 0 0 2.03vw 0;
}

.map_block__inner{
    display: flex;
    justify-content: center;
    padding: 0 3.51vw;
}

.map_block__google{
    background-color: var(--white-color);
    width: 100%;
    height: 33.90vw;
    display: flex;
}

.map_block__google iframe{
    width: 67%;
    height: 100%;
}

.map_block__adress_list{
    width: 33%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
    padding: 2.96vw 0 2.96vw 0;
}

.map_block__adress_list li{
    list-style: disc!important;
}

.map_block__adress_list li a{
    color: var(--black-color);
    list-style: disc!important;
}

.map_block__adress_list a.open_map{
    margin-top: auto;
    color: var(--black-color);
    background-color: var(--main-color);
    padding: 1vw 3vw;
    border-radius: 2vw;
}

.footer{
    background-color: #2d2d2d;
    height: 26.97vw;
    padding: 3.95vw 0 0 0;
}

.footer_logo{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--white-color);
}

.footer_logo img{
    width: 13.64vw;
    height: 2.81vw;
}

.footer__policy{
    margin: 1.77vw 0 0 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.footer_menu {
    display: flex;
    justify-content: center;
}

.footer_menu__inner{
    display: flex;
    flex-direction: column;
}

.footer_menu__inner a.margin-bottom{
    margin: 0 0 0.93vw 0;
}

.footer_menu__inner li{
    list-style: disc;
    color: var(--white-color);
}



.footer_menu__inner.margin-side{
    margin: 0 6.25vw;
}

.footer_menu__inner h4{
    color: var(--main-color);
}



.catalog_block.pdng-width{
    padding: 0 0 0 9.11vw;
    display: flex;
}

.catalog_block button{
    border: 0;
    background: transparent;
    color: var(--white-color);
}

.catalog_block__h3{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    color: var(--white-color);
}

.catalog_block__h3 h3{
    padding: 0 15.93vw 0.72vw 0;
    margin: 0 0 1.4vw 0;
    border-bottom: 1px solid var(--white-color);
}

.catalog_block__block {
    margin: 5.36vw 0 0 0;
    display: block;
    align-items: flex-start;
}

.catalog__button{
    display: flex;
    justify-content: flex-end;
    padding: 0 9.84vw 3.75vw 0;
    align-items: flex-end;
}

.catalog__button img{
    width: 1.04vw;
    height: 0.52vw;
    margin: 0 0 0 0.625vw;
}

.catalog_block{
    display: block;
    margin: 5.36vw 0 0 0;
}

.product .product_description  {
text-decoration: line-through;
    opacity: 90%;
}


.catalog_block .product {
    display: inline-flex;
    margin: 0 2.6vw 5.36vw 0;
    padding: 1.45vw 1.14vw 1.45vw;
    height: auto;
}

.catalog_block .product button{
    background-color: var(--main-color);
    color: var(--black-color);
    margin: 1.25vw 0 0 0;
    padding: 0.31vw 3.48vw;
}

.row.margin-x{
    height: 6.97vw;
}

.filter_inherit{
    width: 100%;
    height: 100%;
    z-index: 2;
    position: relative;
}

.filter_block{
    display: none;
    opacity: 0;
    flex-direction: column;
    align-items: center;
    margin: 16% 0 0 71%;
    position: absolute;
    width: 18.69vw;
    height: 37.81vw;
    background-color:rgba(148, 148, 148, 1);
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.59);
    border-radius: 5px;
    color: var(--white-color);
    text-align: center;
    transition: all ease 0.5s;
}

.filter_block.active{
    transition: all ease 0.5s;
    display: flex;
    animation-name: filter_anim;
    animation-duration: 0.3s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
}

@keyframes filter_anim {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.catalog__button #arrow_icon{
    transition: all ease 0.1;
    transition-delay: 0.1s;
    transition-duration: 0.3s;
}

.catalog__button #arrow_icon.active{
    transition: all ease 0.1;
    transition-delay: 0.1s;
    transition-duration: 0.3s;
    transform: rotate(180deg);
}

.filter_block form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 1.875vw 1.875vw;
}

.filter_block form input[type="submit"]{
    margin-top: auto;
    color: var(--black-color);
    background-color: var(--main-color);
    border: 0;
    padding: 0.4vw 2vw;
}

.filter_block form div{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.filter_block form div label{
    margin: 0 auto 0 0;
}

.filter_block p{
    width: 60%;
    margin: 1.04vw 0;
    padding: 0 0 0.67vw 0;
    border-bottom: 1px solid var(--white-color);
}

input[type="checkbox"]{
    width: 15px;
    height: 15px;
    cursor: pointer;
    background: linear-gradient(180deg, #FF9E18 6.9%, #F9CC8F 87.93%);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none ;
    transition: all 0.3s;
    border-radius: 3px;
}

input[type="checkbox"]:checked{
    transition-duration: 0.3s;
    transition-delay: 0.1s;
    background: url(../img/icon/filter_plus.svg), linear-gradient(180deg, #FF9E18 6.9%, #F9CC8F 87.93%);
    background-position: center;
    background-repeat: no-repeat;
}

.policy_block{
}

.policy_block__inner{
    padding: 3vw 3vw 2vw;
}

.policy_block__inner a{
    color: var(--black-color);
}

.header.policy_page{
    background-color: #2E2D2D;
}

body.policy_page{
    background-color: var(--grey-color);
}

.wave_up{
    margin: auto 0 6.04vw 0;
}

#error.main_screen, body#error{
    background-image: none;
    background-color: #EEEEEE;
}

.header#error a{
    color: var(--black-color);
}

.error_block{
    height: 90vh;
}

.error_img{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.error_block img{
    width: 37.65vw;
    height: 37.34vw;
}

.error_p{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.error_p div{
    text-align: center;
}

.about_us_block{
    padding: 1vw 9.63vw 0;
    height: 29.53vw;
    display: flex;
    align-items: center;
}

.about_us_block h3{
    width: 22.29vw;
    color: var(--white-color);
    padding: 0 0 0.72vw 0;
    margin: 0 0 1.25vw 0;
    border-bottom: 1px solid var(--white-color);
}

.about_us_block__dest{
    width: 35.93vw;
    color: var(--white-color);
}

.video_modal{
    width: 100%;
    height: 100%;
    background: rgba(45, 45, 45, 0.7);
    position: fixed;
    z-index: 5;
    display: none;
    justify-content: center;
    align-items: center;
}

.video_modal.active{
    display: flex;
}

.video_modal button{
    background: transparent;
    background-image: url(../img/icon/cancel_icon.svg);
    background-repeat: no-repeat;
    border: 0;
    margin: 0 0 0 auto;
    width: 30px;
    height: 30px;
}

.video_modal__inner{
    background: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 1.5vw;
    border-radius: 30px;
}

.video_modal__inner video{
    width: 100%;

    display: none;
}

.video_modal__inner video.active{
    display: block;
    border-radius: 30px;
    margin: 1vw 0 0 0;
}

.splide__track{

}

.splide__track button{
    width: 28.33vw;
    height: 15.57vw;
    border: 0;
    border-radius: 30px;
    background-position: center;
    background-size: contain;
}

.splide__track button[onclick="video_open(1)"]{
    background-image: url(../img/video_cover_1.png);
}

.splide__track button[onclick="video_open(2)"]{
    background-image: url(../img/video_cover_2.png);
}

.splide__track button[onclick="video_open(3)"]{
    background-image: url(../img/video_cover_3.png);
}

.howwework_block{
    margin: 1vw 0 0 0;
    padding: 8.44vw 13.64vw 4.47vw;
}

.howwework_block__inner h3{
    
    border-bottom: 1px solid var(--black-color);
    padding: 0 0 1.77vw 0;
    margin: 0 0 1.77vw 0;
}

.howwework_block .col-xl-6{
    padding: 0;
}

.howwework_block__inner {
    width: 79%;
}

.howwework_block div#sec{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.howwework_block div.border-right{
    border-right: 3px solid var(--black-color);
}

.contact_page_block{
    color: var(--white-color);
    padding: 8.95vw 9.63vw 7.31vw;
}

.contact_page_block h3{
    width: 22.29vw;
    border-bottom: 1px solid var(--white-color);
    padding: 0 0 0.78vw 0;
    margin: 0 0 1.56vw 0;
}

.contact_page_block h3.margin-top{
    margin: 3.17vw 0 1.56vw 0;
}

/*

25 huge
22 semi-huge
20 big
15 regular
12 semi_regular
10 light
5 tiny

*/

@media (max-width: 1200px) {
    body{
        font-size: calc(10vw / 3.9);
    }

    .header {
        padding: 0;
    }

    .modal_order{
        z-index: 4;
    }

    .modal_order__inner {
        width: 90%;
        height: auto;
        justify-content: flex-start;
        padding: 8.97vw;
    }

    .modal_order__inner form{
        width: 100%;
        
    }

    .modal_order__inner form input{
        width: 100%;
        height: 12vw;
        border-radius: 39px;
        padding: 0 4vw;
        margin: 0 0 4vw 0;
    }

    .modal_order__inner h4{
        margin: 4vw 0 4vw 0;
    }

    .video_modal__inner video{
        height: auto;
        margin: auto;
    }

    .video_modal__inner {
        width: 80%;
        height: auto;
    }

    .video_modal button {
        margin: 1vw 0 0 auto;
    }

    .splide__track button{
        border-radius: 10px;
        width: 40vw;
        height: 22.05vw;
    }

    .catalog__button_mobile button{
        margin: 5vw 0 0 0;
        background-color: var(--main-color);
        width: 50%;
        border-radius: 10px;
        color: var(--black-color);
    }

    .mobile_filter input[type="checkbox"]{
        float: right;
        width: 30px;
        height: 30px;
    }

    .mobile_filter p{
        margin: 7vw 0 2vw 0;
    }

    .mobile_filter form div{
        margin: 0 0 1.5vw 0;
    }
    

    .mobile_filter form input[type="submit"]{
        margin:2vw 0 0 0;
        color: var(--black-color);
        background-color: var(--main-color);
        border: 0;
        padding: 0.4vw 2vw;
        font-size: calc(20vw / 3.9);
        float: right;
    }
    
    .mobile_filter label{
        font-size: calc(20vw / 3.9);
    }

    .mobile_filter{
        flex-direction: column;
    }

.mobile_font-size_huge{ font-size: calc(25vw / 3.9);}
.mobile_font-size_semi-huge{ font-size: calc(22vw / 3.9);}
.mobile_font-size_big{ font-size: calc(20vw / 3.9);}
.mobile_font-size_regular{ font-size: calc(15vw / 3.9);}
.mobile_font-size_semi_regular{ font-size: calc(12vw / 3.9);}
.mobile_font-size_light{ font-size: calc(10vw / 3.9);}
.mobile_font-size_tiny{ font-size: calc(5vw / 3.9);}

h1{font-size: calc(22vw / 3.9);}
h2{font-size: calc(20vw / 3.9);}
h3{font-size: calc(20vw / 3.9);}
h4{font-size: calc(20vw / 3.9);}

/*Burger Menu*/

.burger_block__inner.active{
    background: rgba(0, 0, 0, 0.6);
}

.burger_block__inner.active .hamburger-lines .line{
    background: var(--main-color);
}

    .header {
        display: flex;
        height: auto;
    }
  
    .burger_block{
        /*padding: 0;*/
    }  

  .burger_block__inner .menu-items {
    display: flex;
  }
  
  .burger_block__inner li {
    list-style: none;
  }
  
  .burger_block__inner a {
    text-decoration: none;
    color: var(--main-color);
  }
  
  .burger_block__inner a:hover{
      font-weight: bolder;
  }
  
  .burger_block__inner {
    z-index: 3;
    display: block;
    position: fixed;
    width: 100%;
    height: 50px;
    transition: all ease 0.3s;
  }
  
  .burger_block__inner .checkbox {
    position: absolute;
    display: block;
    height: 26px;
    width: 32px;
    margin: 15px 0 0 35px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  
  .burger_block__inner .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    margin: 15px 0 0 35px;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .burger_block__inner .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: var(--white-color);
  }
  
  .burger_block__inner .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  
  .burger_block__inner .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  
  .burger_block__inner .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  
  .burger_block__inner .menu-items {
    background-color: #3D3D3D;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    padding: 18vw 0 5vw 0;
  }
  
  .burger_block__inner .menu-items li {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 0 70px 0;
    margin: 0 0 2.05vw 0;
  }

  .burger_block__inner button{
    width: 58.20vw;
    height: 13.33vw;
    background-color: var(--main-color);
    color: var(--black-color);
    border: 0;
    margin: 12.05vw 0 0 0;
  }
  
  .burger_block__inner input[type="checkbox"]:checked ~ .menu-items {
    transform: translateY(0);
  }
  
  .burger_block__inner input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }
  
  .burger_block__inner input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  
  .burger_block__inner input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
  
  .burger_block__inner input[type="checkbox"]:checked ~ .logo{
    display: none;
  }
/*-----------*/

.main_screen{
    padding: 0;
}

.about_us{
    margin: 13.07vw 0 0 0;
    height: auto;
    padding: 0 4.35vw 0 8.97vw;
}

.about_us__catalog h1{
    border-bottom: 2px solid var(--white-color);
}

.about_us__inner.pdng-width{
    padding: 0;
}

.about_us__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16.69vw 17.55vw auto auto;
}

.about_us__info a{
    margin: 0 0 1.53vw 0;
}

.about_us__info a.margin-side{
    margin: 0;
}

.about_us__lamp{
    padding: 0;
}

.about_us .col-4{
    padding: 0;
}

.about_us__lamp .lamp_img {
    width: 36.66vw;
    height: 45.89vw;
}

.lamp_img{
    background-image: url(../img/mobile_lamp.png);
}

.order_block button, .about_us__catalog button {
    padding: 0.51vw 4.61vw;
    margin: 2.56vw 4vw 0 auto;
}

.about_us__mobile{

}

.about_us__dest p.margin-bottom{
    width: 80%;
}

.about_us__dest{
    margin-top: 0;
}

.about_us__dest{
    width: 70%;
}


.video_slider{
    
}

.video_slider video{
    background-color: #000;
    border: 1px solid #FFF;
}

.benefint__block.pdng-width{
    margin: 5.89vw 0 0 0;
    height: auto;
    padding: 0 8.97vw;
}

.benefint__block .col-6{
    padding: 0;
}

.benefint__block_lamp-light img{
    width: 38.71vw;
    height: 50.76vw;
}

.benefits__list div.margin-bottom {
    margin: 0;
}

.benefits__list div{
    padding: 0 0 0 3vw;
}

.benefint__block .benefits__icon_list{
    padding: 0;
    margin: 5.89vw 0 0 0;
}

.benefits__icon_list h3{
    width: 60%;
    padding: 0 0 2.82vw 0;
    margin: 0 0 6.15vw 0;
    border-bottom: 1px solid var(--black-color);
}

.benefits__inner img.icon_plus{
    width: 4.87vw;
    height: 4.87vw;
    margin: 0 7.69vw 0 0;
}

.benefits__inner {
    margin: 5.89vw 0 0 0;
}

.popular_order.pdng-width{
    margin: 12.82vw 0 0 0;
    padding: 0 8.97vw 0 8.97vw;
    height: auto;
}

.popular_order__h3{
    padding: 0;
    margin: 0 0 7.43vw 0;
}

.popular_order__h3 h3{
    border-bottom: 1px solid var(--black-color);
    padding: 0 4.61vw 2.82vw 0;
    margin: 0 0 4.61vw 0;
}

.popular_order__h3 p{
    width: 75%;
}

.popular_order__block{
    display: block;
    padding: 0;
}

.popular_order__block .product{
    display: inline-block;
    width: 40%;
}

.popular_order__button button{
    padding: 1.53vw 12.82vw;
}

.product, .product_img {
    border-radius: 35.51vw 35.51vw 0px 0px;
}

.product{
    height: auto;
    padding: 3.58vw 2.82vw 5.38vw;
    margin: 0 2.61vw 5.89vw;
}

.product_img{
    height: 60%;
}

.product_img img {
    width: 90%;
    height: 90%;
    border-radius: 35.51vw 35.51vw 0px 0px;
}

.contact_block{
    background: url(../img/bg_lamp_bronze.png);
    background-position: center;
    background-repeat: no-repeat;

    margin: 7.69vw 0 0 0;
    padding: 11.53vw 0 15.12vw;
    height: auto;
}

.contact_block__form p{
    width: 70%;
}

.contact_block__form h2{
    border-bottom: 1px solid var(--black-color);
    padding: 0 0 3.84vw 0;
    margin: 0 0 3.84vw 0;
}

.contact_block__form form{
    margin: 7.69vw 0 0 0;
    font-size: calc(10vw / 3.9);
    width: 60%;
}

.contact_block__form form input{
    width: 100%;
    height: 6.92vw;
    margin: 0 0 3.84vw 0;
    text-align: center;
    border-radius: 39px;
}

.contact_block__form form input[type="submit"]{
    width: 56%;
    margin: 5.38vw 0 0 0;
}

.map_block {
    height: auto;
    margin: 8.2vw 0 0 0;
    padding: 0 13.58vw 0;
}

.map_block div{
    padding: 0;
}

.map_block__inner{
    height: 51.28vw;
}

.map_block__google{
    height: 100%;
}

.map_block__google iframe{
    width: 55%;
}

.map_block__adress_list{
    width: 45%;
    padding: 5.12vw 0 0 3.07vw!important;
}

.map_block__adress_list a.open_map{
    margin-top: 0;
    margin: auto auto 0;
    margin-bottom: 2vw;
}
    
.footer{
    margin: 8.97vw 0 0 0;
    height: auto;
    padding: 6.92vw 8.97vw 17.17vw;
}

.footer .footer_logo{
    padding: 0;
}

.footer_logo img {
    width: 20.25vw;
    height: 4.1vw;
}

.footer_logo {
    display: flex;
    align-items: flex-start;
}

.footer_menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 16.15vw;
}

.footer_menu__inner.margin-side{
    margin: 4.61vw 0 0 0;
}

.catalog_block.pdng-width{
    margin: 14vw 0 0 0;
    padding: 0 8.97vw 0 8.97vw;
    height: auto;
}

.catalog_block{
    padding: 0;
    margin: 0 0 7.43vw 0;
}

.catalog_block__h3{
    color: var(--white-color);
}

.catalog_block__h3 h3{
    border-bottom: 1px solid var(--white-color);
    padding: 0 4.61vw 2.82vw 0;
    margin: 0 0 4.61vw 0;
    width: 55%;
}

.catalog_block__h3 p{
    width: 75%;
}

.catalog_block__block{
    margin: 10.76vw 0 0 0;
    display: block;
    padding: 0;
}

.catalog_block__block .product{
    display: inline-flex;
    width: 40%;
}

.catalog_block .product{
    height: auto;
}

.catalog_block__button button{
    padding: 1.53vw 12.82vw;
}

.contact_page_block {
    display: flex;
    color: var(--white-color);
    margin: 13.95vw 0 8.95vw 0;
    padding: 0 9.63vw 0;
}

.contact_page_block__geo div{
    display: flex;
    flex-direction: column;
}

.contact_page_block h3, .contact_page_block h3.margin-top{
    margin: 0 0 3.07vw 0;
    padding: 0 0 3.07vw 0;
}


.about_us_block{
    margin: 12vw 0 0 0;
    padding: 0 8.95vw;
}

.about_us_block h3{
    width: 45%;
}

.about_us_block__dest{
    width: 83%;
}

.howwework_block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.howwework_block hr{
    margin: 10vw 0;
    width: 50%;
}

.howwework_block__inner{
    width: 100%;
}

.howwework_block div#sec {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.howwework_block div.border-right{
    border: 0;
}

.howwework_block__inner h3{
    width: 95%;
    padding: 0 0 2.82vw 0;
    margin: 0 0 4.35vw 0;
}

.contact_block.pdng-width{
    height: auto;
}

.contact_block__form{
    padding: 6vw 0;
}

}